body {
  margin: 0;
  padding: 0;
  width: 1400px;
  height: 440px;
}

main {
  margin: 0;
  padding: 0;
  width: 1400px;
  height: 440px;
}

#image-place {
  margin: 45px 60px 45px 85px;
  width: 428px;
  height: 350px;
  left: 85px;
  top: 45px;
  float: left;
}

#rectangle {
  margin: 0;
  margin-top: 45px;
  width: 742px;
  height: 46px;
  left: 573px;
  top: 45px;
  background: #E8C734;
  display: inline-block;
}

#about-me {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 10px 35px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #424243;
}

#main-text {
  margin: 0;
  margin-top: 30px;
  width: 742px;
  height: 91px;
  left: 573px;
  top: 121px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
  color: #424243;
  display: inline-block;
}
