<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Skills</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link href="../styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class = "base">  
    <main class="main">
      <header class="main__header">
        <h1 class="main__header-rubric-name">DISCOGRAPHY</h1>
        <span class="main__header-rubric-description">September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single «It's Time» took 22 th place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard Rock, and now went platinum.</span>
      </header>
      <section class="section-records">
        <div  class="section-record">
          <div class="section-record__left-part">
            <span class="section-record__album-year">2010</span>
            <span class="section-record__album-name">Hell and Silence</span>
          </div>
          <div class="section-record__right-part">
            <p class="section-record__album-part-description">
              Hell and Silence is an EP by Las Vegas rock group
            </p>
            <p class="section-record__album-full-description">
              Hell and Silence is an EP by Las Vegas rock group, released in March 2010 in the United States. 
              It was recorded at Battle Born Studios. All songs were written by Imagine Dragons and self-produced. 
              The EP was in part mixed by Grammy nominated engineer Mark Needham.
            </p>
            <p class="section-record__album-full-description">
              To promote the album the band performed five shows at SXSW 2010 including at the BMI Official Showcase. While at SXSW they were endorsed by Blue Microphones. 
              They also toured the western United States with Nico Vega and Saint Motel. They also performed at Bite of Las Vegas Festival 2010, New Noise Music Festival, Neon Reverb Festival, and Fork Fest.
            </p>
            <button class="section-record__button-play">Play</button>
          </div>
        </div>

        <div  class="section-record">
          <div class="section-record__left-part">
            <span class="section-record__album-year">2012</span>
            <span class="section-record__album-name">Night Visions</span>
          </div>
          <div class="section-record__right-part">
            <p class="section-record__album-part-description">Night Visions is the debut studio album by American rock band</p>
            <p class="section-record__album-full-description">It was released on September 4, 2012 through Interscope Records. 
              The extended track was released on February 12, 2013, adding three more songs. 
              Recorded between 2010 and 2012, the album was primarily produced by the band themselves, as well as English hip-hop producer Alex da Kid and Brandon Darner from the American indie rock group The Envy Corps. 
              It was mastered by Joe LaPorta. According to frontman Dan Reynolds, the album took three years to finish...
            </p>
            <button class="section-record__button-play">Play</button>
          </div>
        </div>

        <div  class="section-record">
          <div class="section-record__left-part">
            <span class="section-record__album-year">2015</span>
            <span class="section-record__album-name">Smoke + Mirrors </span>
          </div>
          <div class="section-record__right-part">
            <p class="section-record__album-part-description">
              The album was recorded during 2014 at the band's home studio in Las Vegas, Nevada
            </p>
            <p class="section-record__album-full-description">
              Self-produced by members of the band along with English hip-hop producer Alexander Grant, 
              known by his moniker Alex da Kid, the album was released by Interscope Records and Grant's KIDinaKORNER 
              label on February 17, 2015, in the United States.
            </p>
            <button class="section-record__button-play layout-correctness2">Play</button>
          </div>
        </div>
      </section>
      <footer class="main__footer"></footer>
    </main>
  </div>
</body>
</html>