<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Gallery Post</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	<link href="../styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class = "base">  
    <div class = "post-card">
      <header class = "post-card-top-part">
        <img class = "main-img" src = "../images/main.jpg" alt = "Main image of a road and forest after a rain"/>
        <div class = "little-black-rectangle"></div>
      </header>
      <main class = "post-card-middle-part">
        <span class = "adventures">adventures</span>
        <span class = "awesome-gallery-post">awesome Gallery Post</span>
        <span class = "date">January 19, 2016</span>
        <a class = "read-more" href = "#">Read more</a>
      </main>
      <footer class = "post-card-bottom-part">
        <img class = "comment-img" src = "../images/comment.png" alt = "Comment icon image">
        <span class = "comments">02 Comment</span>
      </footer>
    </div>
  </div>  
</body>
</html>