<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link href="../styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
	<main>
      <img id = "image-place" src="../images/Rectangle 1.png" alt="Серый квадрат Малевича!">
		<div id = "rectangle">
			<p id="about-me">About me</p>
		</div>
		<p id = "main-text">
			I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</main>
</body>
</html>