<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.thumbtack.school.database.mybatis.mappers.SchoolMapper">
    <select id="getAllUsingJoin" resultMap="schoolResultMap">
        SELECT
            `school`.id AS school_id,
            `school`.name AS school_name,
            `school`.year AS school_year,

            `group`.id AS group_id,
            `group`.name AS group_name,
            `group`.room AS group_room,

            `subject`.id AS subject_id,
            `subject`.name AS subject_name,

            `trainee`.id AS trainee,
            `trainee`.firstname AS trainee_firstname,
            `trainee`.lastname AS trainee_lastname,
            `trainee`.rating AS trainee_rating

        FROM `school`
            LEFT JOIN `group` ON `school`.id = `group`.schoolid
            LEFT JOIN `subject` ON `subject`.id IN (SELECT `subject_group`.subjectid FROM `subject_group` WHERE `subject_group`.groupid = `group`.id)
            LEFT JOIN `trainee` ON `trainee`.id IN (SELECT `trainee_group`.traineeid FROM `trainee_group` WHERE `trainee_group`.groupid = `group`.id)
    </select>

    <resultMap id="schoolResultMap" type="School">
        <id property="id" column="school_id"/>
        <result property="name" column="school_name"/>
        <result property="year" column="school_year"/>

        <collection property="groups" ofType="Group">
            <id property="id" column="group_id"/>
            <result property="name" column="group_name"/>
            <result property="room" column="group_room"/>

            <collection property="subjects" ofType="Subject" >
                <id property="id" column="subject_id"/>
                <result property="name" column="subject_name"/>
            </collection>

            <collection property="trainees" ofType="Trainee">
                <id property="id" column="trainees_id"/>
                <result property="firstName" column="trainee_firstname"/>
                <result property="lastName" column="trainee_lastname"/>
                <result property="rating" column="trainee_rating"/>
            </collection>
        </collection>
    </resultMap>
</mapper>