<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>MultiTasksTracker</servlet-name>
    <servlet-class>it.sevenbits.servlet.MultiTasksTrackerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiTasksTracker</servlet-name>
    <url-pattern>/tasks</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>IndividualTasksTracker</servlet-name>
    <servlet-class>it.sevenbits.servlet.IndividualTaskTrackerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualTasksTracker</servlet-name>
    <url-pattern>/tasks/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InitRepoServlet</servlet-name>
    <servlet-class>it.sevenbits.servlet.InitRepositoryServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
</web-app>
